.app-review-page-wrap header button img {
  width: 14px;
}

.app-review-write-box {
  background-color: #f6f9ff;
}

.box-title {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  color: black;
}

.product-info-box {
  display: flex;
  align-items: center;
  padding: 16px 16px 28px 16px;

  background-color: #fff;
}

.product-info-box img {
  margin-right: 16px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.product-info-box .info p {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}

.product-info-box .info span {
  font-size: 12px;
  font-weight: 700;
  color: #979797;
}

.product-info-box .info .mission-date {
  display: flex;
  padding: 3px 16px;
  margin-top: 6px;
  border-radius: 8px;
  background-color: #fc80ff;
  line-height: 17px;
  color: #fff;
}

.write-guide {
  position: relative;
  margin: 24px 16px;
}

.write-guide.dropdown {
  overflow: hidden;
  height: 202px;
}

.write-guide .write-guide-box {
  padding: 16px 16px 0 16px;
  border-radius: 6px;
  background-color: #fff;
}

.write-guide .write-guide-box .box-title {
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}

.write-guide .write-guide-box .guide {
  padding-bottom: 75px;
  line-height: 18px;
  color: #68696b;
}

.write-guide .write-guide-box .guide span {
  color: #68696b;
  font-weight: 700;
}

.write-guide .write-guide-box button {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 16px;
  color: #b8bbbf;
  background-color: #fff;
}

.write-guide .write-guide-box button .gradation {
  height: 36px;
  position: absolute;
  top: -36px;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.23) 0%,
    #fff 73.33%
  );
  z-index: 1;
}

.write-guide .write-guide-box button img {
  margin-left: 6px;
}

.mission-product-info-wrapper {
  background-color: #fff;
}

.mission-product-info-wrapper .mission-product-info {
  padding: 24px 16px 25px 16px;
}

.mission-product-info-wrapper .mission-product-info .box-title {
  margin-bottom: 16px;
}

.mission-product-info-wrapper .mission-product-info .product-info-box {
  padding: 0;
}

.mission-product-info-wrapper .mission-product-info .product-info-box img {
  width: 80px;
  margin-right: 12px;
}

.mission-product-info-wrapper .mission-product-info .product-info-box .info p {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.mission-product-info-wrapper
  .mission-product-info
  .product-info-box
  .info
  span {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  color: black;
}

.review-desc-wrapper {
  padding: 24px 16px 50px 16px;
  border-bottom: 10px solid #fff;
}

.review-desc-wrapper .box-title {
  margin-bottom: 16px;
}

.review-desc-wrapper .desc {
  margin: 0;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: #68696b;
}

.mission-submit {
  width: 100%;
  padding: 16px 22px;
  background-color: #ebf0fb;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #fff;
}

.mission-submit.temp {
  background-color: #eceef2;
  color: black;
}

.mission-submit.active {
  background-color: black;
  color: #fff;
}

.tag-box {
  background-color: #fff;
  border-top: 1px solid #f2f3f6;
  border-bottom: 1px solid #f2f3f6;
  margin-bottom: 12px;
}

.tag-box .req-tag {
  padding: 24px 16px;
  border-bottom: 1px solid #f2f3f6;
}

.tag-box .req-tag .tag {
  color: #373839;
}

.tag-box .title-wrapper {
  display: flex;
  height: 30px;
  justify-content: space-between;
  margin-bottom: 16px;
}

.tag-box .title-wrapper button {
  color: #fff;
  background-color: black;
  padding: 7px 12px;
  border-radius: 8px;
  line-height: 12px;
}

.tag-box .req-tag.account {
  border-bottom: 0;
}

.content-submit .submit-box {
  padding: 20px 16px;
  margin-top: 16px;
  background-color: #f6f9ff;
  border-radius: 12px;
}

.content-submit .submit-box .main {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  margin-bottom: 16px;
}

.content-submit .submit-box .main span {
  color: #b8bbbf;
}

.content-submit .submit-box .sub {
  font-size: 13px;
  color: #929498;
}

.content-submit .submit-box .input-wrapper {
  position: relative;
  margin-bottom: 8px;
}

.content-submit .submit-box button {
  position: absolute;
  right: 16px;
  bottom: 15px;
}

.content-submit .submit-box button {
  height: 18px;
}

.content-submit .submit-box .input-wrapper:last-child {
  margin-bottom: 0;
}

.mission-product-info-wrapper.review {
  padding-bottom: 10px;
}

.product-info-box.review {
  margin-bottom: 0 !important;
  margin-top: 16px;
}

.product-info-box.review .content {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.product-info-box.review button {
  background-color: #000000;
  padding: 0 12px;
  height: 30px;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
}

.product-info-box.review button.edit {
  background-color: #eceef2;
  color: black;
}

.review-wirte-wrap.mission {
  margin-top: 0;
}

.review-wirte-wrap.mission .input-item.review {
  margin: 25px 0 14px 0;
}

.product-info-popup .popup-content {
  max-height: 80%;
  overflow-y: auto;
  background-color: #fff;
}

.product-info-popup .btn-wrap {
  display: flex;
  gap: 8px;
  padding: 0 16px;
  background-color: #fff;
}

.product-info-popup .btn-wrap button {
  height: 52px;
  width: 100%;
  font-weight: 700;
  color: black;
  background-color: #eceef2;
  border-radius: 8px;
}

.product-info-popup .btn-wrap .save {
  background-color: #dbdcdf;
  color: #fff;
}

.review-wirte-wrap.mission .sns-share-wrap {
  padding-bottom: 40px;
}

.sns-load-popup .popup-content {
  background-color: #fff;
  max-height: 162px;
}
.sns-load-popup .popup-content-wrap .popup-header {
  border: none;
}

.sns-load-popup .popup-content-wrap .popup-content p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 142%;
}

.sns-load-popup .popup-content-wrap .btn-wrap {
  display: flex;
  gap: 8px;
  padding: 0 16px;
  background-color: #fff;
}

.sns-load-popup .popup-content-wrap .btn-wrap button {
  height: 52px;
  width: 100%;
  margin-bottom: 12px;
  font-weight: 700;
  color: black;
  background-color: #eceef2;
  border-radius: 8px;
}
.sns-load-popup .popup-content-wrap .btn-wrap .black {
  background-color: black;
  color: #fff;
}

.sns-load-popup.multi .popup-content {
  background-color: white;
  max-height: 376px;
}

.sns-load-popup.multi .popup-content input {
  padding: 0;
  width: 18px;
  height: 18px;
}

.sns-load-popup.multi .product-info-box {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  margin-top: 0;
  border-bottom: 1px solid #f2f3f6;
  text-align: left;
}

.sns-load-popup.multi .product-info-box:nth-last-child(2) {
  border-bottom: 0;
}

.sns-load-popup.multi .product-info-box .content {
  margin-right: 56px;
}

.sns-load-popup.multi .product-info-box .content img {
  width: 48px;
}

.sns-load-popup.multi .product-info-box .content .info p {
  text-align: left;
  margin-bottom: 0;
  color: #68696b;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 142%; /* 17.04px */
  letter-spacing: -0.24px;
}

.sns-load-popup.multi .product-info-box .content .info span {
  font-size: 13px;
  font-weight: 700;
  line-height: 142%; /* 18.46px */
  letter-spacing: -0.26px;
}

.btn-wrap {
  margin-top: 16px;
}

.sns-load-popup.multi .popup-content input[type="radio"] {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border: 1px solid #dbdcdf;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
}

.sns-load-popup.multi .popup-content input[type="radio"]:checked {
  background-color: #ff43ca;
  border: 3px solid white;
  box-shadow: 0 0 0 1.6px #ff43ca;
}

.sns-load-popup.multi .popup-content .btn-wrap .gray {
  background-color: #dbdcdf;
  color: #fff;
}
.sns-load-popup.multi .popup-content .btn-wrap .pink {
  background-color: #ff43ca;
}
