.review-item-wrap {
  background: #222;
  padding-top: 56px;
  box-sizing: border-box;
}

.review-item-wrap .item-select-wrap {
  padding: 62px 0 92px 0;
  text-align: center;
}

.review-item-wrap .item-select-wrap p {
  color: #fff;
  font-size: 14px;
  line-height: 20px;
}

.review-item-wrap .item-select-wrap button {
  position: relative;
  margin-top: 15px;
  padding: 12px 22px 12px 46px;
  background: #ff43ca;
  color: #fff;
  border-radius: 8px;
}

.review-item-wrap .item-select-wrap button img {
  position: absolute;
  width: 20px;
  left: 22px;
  top: 12px;
}

.review-item-wrap .selected-item-wrap {
  padding: 16px;
  padding-bottom: 48px;
}

.review-item-wrap .selected-item-wrap .product {
  display: flex;
  padding-bottom: 15px;
}

.review-item-wrap .selected-item-wrap .product img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

.review-item-wrap .selected-item-wrap .product .info {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  position: relative;
  padding-left: 12px;
  width: calc(100% - 122px);
  box-sizing: content-box;
}

.review-item-wrap .selected-item-wrap .product .info button {
  position: absolute;
  right: 0;
  color: #929498;
  font-size: 12px;
  text-decoration: underline;
}

.review-item-wrap .selected-item-wrap .product .info p,
.review-item-wrap .selected-item-wrap .product .info strong {
  display: block;
  width: 100%;
  color: #fff;
}

.review-item-wrap .selected-item-wrap .product .info .brand {
  font-size: 12px;
  color: #dbdcdf;
}

.review-item-wrap .selected-item-wrap .product .info .name {
  padding: 4px 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}

.review-item-wrap .selected-item-wrap select {
  width: 100%;
  height: 40px;
  text-indent: 12px;
  background: #373839 url(../asset/images/icon-review-selectbox-dropdown.png)
    right 12px center no-repeat;
  background-size: 14px;
  appearance: none;
  color: #dbdcdf;
  padding-right: 5px;
  border: 1px solid #68696b;
  border-radius: 6px;
}

.review-wirte-wrap {
  width: 100%;
  margin-top: -30px;
  background: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.review-wirte-wrap .write-detail {
  padding: 25px 16px 0 16px;
  text-align: center;
}

.review-wirte-wrap .write-detail p {
  font-size: 18px;
  font-weight: bold;
}

.review-wirte-wrap .write-detail .star-wrap {
  padding-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid #f2f3f6;
}

.review-wirte-wrap .write-detail .star-wrap button img {
  width: 48px;
}

.review-wirte-wrap .upload-img-wrap {
  overflow: hidden;
  margin-top: 8px;
}

.review-wirte-wrap .upload-img-wrap .swipe-wrap {
  width: 150%;
}

.review-wirte-wrap .upload-img-wrap .swipe-wrap .img-item {
  position: relative;
  width: 92px;
  display: inline-block;
}

.review-wirte-wrap .upload-img-wrap .swipe-wrap .img-item > img {
  border-radius: 8px;
}

.review-wirte-wrap .upload-img-wrap .swipe-wrap .img-item button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.review-wirte-wrap .upload-img-wrap .swipe-wrap .img-item button img {
  width: 17px;
}

.review-wirte-wrap .upload-img-wrap .swipe-wrap .img-item + .img-item {
  margin-left: 4px;
}

.review-wirte-wrap .input-item {
  margin: 25px 0;
  text-align: left;
}

.review-wirte-wrap .input-item label {
  display: block;
  padding-bottom: 14px;
  font-size: 16px;
  font-weight: bold;
}

.review-wirte-wrap .input-item .btns button {
  padding: 8px 14px;
  border: 1px solid #dbdcdf;
  border-radius: 100px;
  color: #b8bbbf;
  font-weight: bold;
}
.review-wirte-wrap .input-item .btns button.on {
  border-color: #ff43ca;
  color: #ff43ca;
  background: rgba(255, 67, 202, 0.05);
}
.review-wirte-wrap .input-item .btns button + button {
  margin-left: 4px;
}

.review-wirte-wrap .input-item input[type="text"] {
  border-radius: 6px;
  border-color: #eceef2;
  height: 46px;
}

.review-wirte-wrap .input-item .textarea-wrap {
  border-radius: 6px;
  border: 1px solid #eceef2;
  min-height: 150px;
  height: auto;
}

.review-wirte-wrap .input-item .textarea-wrap textarea {
  padding: 8px 16px;
  border: 0;
  min-height: 88px;
  height: initial;
  resize: none;
}

.review-wirte-wrap .input-item .textarea-wrap textarea::placeholder {
  color: #b8bbbf;
}

.review-wirte-wrap .input-item .text-btns {
  display: flex;
  padding: 16px;
}

.review-wirte-wrap .input-item .text-btns img {
  width: 30px;
}

.review-wirte-wrap .input-item .text-btns .template {
  margin-left: auto;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  background: #22242d;
  color: #fff;
  border-radius: 8px;
}

.review-wirte-wrap .tag-wrap {
  padding: 25px 0 25px 16px;
  border-top: 12px solid #f6f9ff;
}

.review-wirte-wrap .tag-wrap p {
  font-size: 16px;
  font-weight: bold;
}

.review-wirte-wrap .tag-wrap p img {
  width: 24px;
  vertical-align: top;
  margin-top: -5px;
  margin-right: 4px;
}

.review-wirte-wrap .tag-wrap .tag-item {
  overflow: hidden;
  margin-top: 15px;
}

.review-wirte-wrap .tag-wrap .tag-item .swipe-wrap {
  width: 130%;
}

.review-wirte-wrap .tag-wrap .tag-item button {
  display: inline-block;
  padding: 8px 14px;
  border: 1px solid #b8bbbf;
  border-radius: 100px;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
}

.review-wirte-wrap .tag-wrap .tag-item button + button {
  margin-left: 4px;
}

.review-wirte-wrap .sns-share-wrap {
  display: flex;
  padding: 4px 16px 20px 16px;
  align-items: baseline;
}

.review-wirte-wrap .sns-share-wrap p {
  font-size: 16px;
  font-weight: bold;
}

.review-wirte-wrap .sns-share-wrap button {
  margin-left: auto;
}

.review-wirte-wrap .sns-info {
  padding: 24px 15px 50px 16px;
  background: #f6f9ff;
}

.review-wirte-wrap .sns-info p {
  position: relative;
  padding-left: 11px;
  color: #68696b;
  font-size: 13px;
  line-height: 20px;
}

.review-wirte-wrap .sns-info p::before {
  position: absolute;
  left: 0;
  top: 10px;
  display: block;
  width: 5px;
  height: 1px;
  background: #68696b;
  content: "";
}

.review-wirte-wrap .btn-wrap {
  padding: 10px 0 0 0;
}

.review-wirte-wrap .btn-wrap button {
  width: 100%;
  padding: 16px 22px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  background-color: #ebf0fb;
}

.review-wirte-wrap .write-detail .app-review-tag {
  margin-bottom: 25px;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #68696b;
}

.review-wirte-wrap .input-item .title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  margin-bottom: 15px;
}

.review-wirte-wrap .input-item .title-wrapper label {
  padding-bottom: 0;
}

.review-wirte-wrap .input-item .title-wrapper button {
  padding: 7px 12px;
  border: 1px solid #b8bbbf;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
}

.modal-wrap .content.product-change {
  padding-top: 44px;
  text-align: center;
}

.modal-wrap .content.product-change p {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.modal-wrap .content .btns {
  display: flex;
}

.modal-wrap .content .btns button {
  padding: 14px;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  border-radius: 8px;
}

.modal-wrap .content .btns button.cancel {
  background: #eceef2;
  color: #222;
}
.modal-wrap .content .btns button.confirm {
  background: #000;
  color: #fff;
}

.modal-wrap .content.product-change .btns {
  padding-top: 24px;
  justify-content: space-between;
}

.modal-wrap .content.product-change .btns button {
  width: calc(50% - 4px);
}

.review-product-search {
  padding-top: 60px;
}

.review-product-search .search-input-container {
  position: fixed;
  top: 56px;
  left: 0;
  width: calc(100% - 32px);
  padding: 6px 0 12px 0;
  margin: 0 16px;
  background: #fff;
}

.review-product-search .search-input-wrap {
  position: relative;
  padding: 12px 16px;
  background: #f2f3f6;
  border-radius: 100px;
}

.review-product-search .search-input-wrap input {
  border: 0;
  background: none;
  font-size: 15px;
  line-height: 21px;
  height: 21px;
}

.review-product-search .search-input-wrap button {
  position: absolute;
  right: 20px;
  top: 10px;
}

.review-product-search .search-input-wrap button img {
  width: 24px;
}

.review-product-search .search-main {
  display: flex;
  padding-top: 45px;
  height: calc(100% - 105px);
  align-items: center;
}

.review-product-search .search-main .inner {
  margin-top: -60px;
  width: 100%;
  height: 200px;
  text-align: center;
}

.review-product-search .search-main img {
  width: 160px;
}
.review-product-search .search-main p {
  padding-top: 30px;
  font-size: 14px;
  line-height: 20px;
  color: #929498;
}

.review-product-search .search-main p b {
  color: #ff43ca;
}

.review-product-search .search-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 44px;
  border-top: 1px solid #f2f3f6;
  background: #fff;
}

.review-product-search .search-bottom button {
  padding: 13px 0;
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #929498;
  font-weight: bold;
}
.review-product-search .search-bottom button img {
  width: 16px;
  margin-right: 5px;
  margin-bottom: -2px;
}

.review-product-search .search-list {
  padding-top: 45px;
  padding: 60px 0 60px 0;
}

.review-product-search .search-list ul {
  display: flex;
  flex-flow: wrap;
  padding: 0 16px;
  place-content: space-between;
}

.review-product-search .search-list ul li {
  width: calc(33.333% - 4px);
  margin-top: 15px;
}

.review-product-search .search-list ul li .img-wrap {
  margin-bottom: 8px;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.03);
}

.review-product-search .search-list ul li img {
  width: 100%;
  border-radius: 12px;
}

.review-product-search .search-list ul li p {
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.review-product-search .search-list ul li .brand {
  font-size: 12px;
  font-weight: bold;
  color: #000;
}

.review-product-search .search-list ul li .name {
  color: #373839;
  font-size: 12px;
  display: -webkit-box;
  word-wrap: break-word;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.review-product-search .search-list ul li .option {
  color: #929498;
  font-size: 11px;
}

.item-unregistered-wrap {
  padding: 20px 16px 56px 16px;
}

.item-unregistered-wrap .title {
  display: flex;
  padding-top: 5px;
  padding-bottom: 16px;
}

.item-unregistered-wrap .title h5 {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.item-unregistered-wrap .title button {
  margin-left: auto;
  font-size: 12px;
  text-decoration-line: underline;
  color: #929498;
}

.item-unregistered-wrap select {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  text-indent: 12px;
  background: #373839 url(../asset/images/icon-review-selectbox-dropdown.png)
    right 12px center no-repeat;
  background-size: 14px;
  appearance: none;
  padding-right: 5px;
  font-size: 13px;
  border: 1px solid #68696b;
  border-radius: 6px;
  color: #dbdcdf;
}

.item-unregistered-wrap input[type="text"] {
  font-size: 15px;
  padding: 0;
  background: #373839;
  border: 1px solid #68696b;
  border-radius: 4px;
  text-indent: 12px;
  border-radius: 6px;
  color: #fff;
}

.item-unregistered-wrap input[type="text"] + input {
  margin-top: 6px;
}

.item-unregistered-wrap input[type="text"]::placeholder {
  color: #929498;
}

.item-unregistered-wrap input + .title {
  margin-top: 25px;
}

.item-unregistered-wrap select option:disabled {
  color: #68696b;
}

.review-wirte-wrap .sns-info + .btn-wrap {
  padding-top: 0;
}

.item-unregistered-wrap .textarea-wrap {
  background: #373839;
  border: 1px solid #68696b;
  border-radius: 6px;
}

.item-unregistered-wrap .textarea-wrap textarea {
  padding: 8px 16px;
  background: none;
  border: 0;
  height: 44px;
  resize: none;
  color: #fff;
  box-sizing: content-box;
  width: calc(100% - 32px);
}

.item-unregistered-wrap .textarea-wrap .text-btns {
  display: flex;
  padding: 8px 16px 16px 16px;
}

.item-unregistered-wrap .textarea-wrap .text-btns img {
  width: 24px;
}

.item-unregistered-wrap .upload-img-wrap {
  overflow: hidden;
  margin-top: 8px;
  width: calc(100% + 16px);
}

.item-unregistered-wrap .upload-img-wrap .swipe-wrap {
  width: 150%;
}

.item-unregistered-wrap .upload-img-wrap .swipe-wrap .img-item {
  position: relative;
  width: 92px;
  display: inline-block;
}

.item-unregistered-wrap .upload-img-wrap .swipe-wrap .img-item > img {
  border-radius: 8px;
}

.item-unregistered-wrap .upload-img-wrap .swipe-wrap .img-item button {
  position: absolute;
  right: 5px;
  top: 5px;
}

.item-unregistered-wrap .upload-img-wrap .swipe-wrap .img-item button img {
  width: 17px;
}

.item-unregistered-wrap .upload-img-wrap .swipe-wrap .img-item + .img-item {
  margin-left: 4px;
}

.modal-wrap .content.sns-load {
  padding-top: 20px;
  padding-bottom: 24px;
}

.modal-wrap .content.sns-load h5 {
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.modal-wrap .content.sns-load button {
  display: flex;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 500;
}

.modal-wrap .content.sns-load button img {
  width: 24px;
  margin-right: 12px;
}

.center-modal-wrap .content.sns-load-fail {
  text-align: center;
}

.center-modal-wrap .content.sns-load-fail img {
  margin-top: -10px;
  width: 140px;
}

.center-modal-wrap .content.sns-load-fail h5 {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
}
.center-modal-wrap .content.sns-load-fail p {
  font-size: 14px;
  line-height: 20px;
  color: #68696b;
}

.center-modal-wrap .content.sns-load-fail button {
  width: 106px;
  margin-top: 20px;
  padding: 12px 0;
  background: #000;
  border-radius: 8px;
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}
.modal-wrap .content.out {
  padding-top: 24px;
}

.modal-wrap .content.out .img-txt-wrap img {
  width: 140px;
}

.modal-wrap .content.out .img-txt-wrap h5 {
  padding-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.modal-wrap .content.out .img-txt-wrap p {
  padding-top: 4px;
  font-size: 14px;
  color: #68696b;
  font-weight: 400;
}
